<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985982724114-0p7ftn92563qil2j706ackmstlcbetmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985982724114-0p7ftn92563qil2j706ackmstlcbetmj</string>
	<key>API_KEY</key>
	<string>AIzaSyAnaBvvMvUAXmq2ArjYJyqGwxQYRX9xtnM</string>
	<key>GCM_SENDER_ID</key>
	<string>985982724114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anshumali.whatsapp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-8435e</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-8435e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985982724114:ios:268de77dd40cc9b00c10cb</string>
	<key>DATABASE_URL</key>
	<string>https://whatsapp-8435e-default-rtdb.firebaseio.com</string>
</dict>
</plist>